html, body, .container, #sidebar, #mapContainer {
  height: 100%;
  margin: 0;
}

h1{
  padding-left: 10px;
}
.container {
  display: flex;
}

#sidebar {
  background: lightgray;
  width: 320px;
}

#mapContainer {
  flex-grow: 1;
}

.instructions{
  padding: 5px;
}

.disclaimer{
  padding: 5px;
  font-style: italic;
  font-size: 12px;
}

footer{
  padding:5px;
}

img{
  height:200px;
  width:320px;
}
